.App {
	text-align: center;
	margin: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-header {
	color: #27a1e8;
	font-size: 1.2rem;
}

.edit-btn {
	color: #06060669;
	cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
	padding: 8px;
}

tbody tr:nth-child(even) {
	color: #555;
}

tbody tr:nth-child(odd) {
	background-color: #77cc6d;
	color: #fff;
}

input[type="text"], input[type="number"], select {
	outline: none;
	height: 1.5rem;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 3px 4px;
}

button {
	color: #fff;
	background: #77cc6d;
	border: 1px solid #77cc6d;
	padding: 0.5rem;
	margin: 1rem 0;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
	border-radius: 3px;
}
